.container {
    height: calc(100vh - 128px);
    display: flex;
}

.content {
    padding: 2rem;
    margin-top: 3rem;
    max-width: 1050px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 720px) {
        flex-direction: column;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            margin-bottom: 3rem;
        }
    }

    p {
        color: var(--blue-light);
        font-weight: 700;
        font-size: 2rem;
        margin-bottom: 1rem;

        @media (max-width: 480px) {
            font-size: 1.5rem;
        }
    }

    img {
        width: 80%;
    }
}


.imageBag {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 720px) {
        margin-top: 5rem;
    }

    img {
        width: 60%;
        margin-bottom: 2rem;
    }

    svg {
        color: var(--blue-dark);
        font-size: 2rem;
    } 
    
    div {
        width: 30%;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
}

