.container {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    height: 5rem;
    padding: 2rem;

    a {
        display: flex;
        align-items: center;

        font-size: 1rem;
        cursor: pointer;

        &:hover {
            filter: brightness(0.9);
            font-weight: 700;
        }

        & + svg {
            margin-left: 1rem;
            color: var(--blue-dark);
        }
    }
}