.footerContainer {
    background: var(--blue-dark);
    width: 100%;
    height: 5rem;
    
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
        transition: filter 0.9s;

        svg {
            color: var(--white);
            margin-right: 4px;
        }
    }

    span {
        font-weight: 700;
        margin-left: 4px;
        text-transform: uppercase;
    }
}

@media (max-width: 780px) {
    .footerContainer { 
        
        p {
            flex-direction: column;
        }
    }
}