.container {
    width: 100%;
    padding: 8px;
    height: 64px;

    p {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        transition: filter 0.9s;

        svg {
            color: var(--blue-dark);
            margin-right: 4px;
        }

        @media (max-width: 480px) {
            flex-direction: column;
        }
    }

    span {
        font-weight: 700;
        margin-left: 4px;
        text-transform: uppercase;
    }
}